<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project3"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.project3.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.project3.Settings" >
        </activity>
        <activity
            android:name="com.example.project3.NewUser"
            android:label="@string/title_activity_new_user" >
        </activity>
        <activity
            android:name="com.example.project3.School_Listings"
            android:label="@string/title_activity_school__listings" >
        </activity>
        <activity
            android:name="com.example.project3.NationalFragment"
            android:label="@string/title_activity_national_fragment" >
        </activity>
        <activity
            android:name="com.example.project3.InStateFragment"
            android:label="@string/title_activity_in_state_fragment" >
        </activity>
    </application>

</manifest>
